{% extends 'faculty_base.html' %}

{% block content %}
<style>
    body {
        font-family: Roboto, sans-serif;
        line-height: 1.6;
        padding: 20px;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align:center;
    }
    p {
        margin-bottom: 10px;
        text-align:left;
        padding:0 0 0 30px;
    }
    strong {
        font-weight: bold;
    }
    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #333;
    }
    .container{
        background:#fff;
        width:500px;
        margin:0 auto;
        padding:20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        text-align: center;
    }
</style>
<h2>Faculty Profile</h2>
<p><strong>Username:</strong> {{ faculty_profile.user.username }}</p>
<p><strong>Email:</strong> {{ faculty_profile.email }}</p>
<p><strong>Fullname:</strong> {{ faculty_profile.fullname }}</p>
<p><strong>Address:</strong> {{ faculty_profile.address }}</p>
<p><strong>Mobile Number:</strong> {{ faculty_profile.mobile_no }}</p>
<p><strong>Short Introduction:</strong> {{ faculty_profile.short_intro }}</p>


<a href="{% url 'update-faculty-profile' %}" class="btn btn-dark">Update profile</a>
<a href="{% url 'faculty_dashboard' %}" class="btn btn-dark">Back</a>
{% endblock %}
