{% extends 'base.html' %}
{% block content %}
{% load static %}
<body>
    
    <main>
        <div class="background-image">
            <div class="welcome-text">
                <h1>Welcome {{ request.user.username|slice:":1"|capfirst }}{{ request.user.username|slice:"1:" }}</h1>
                <h3>IIIT Bhubaneswar</h3>
                <a href="notice-board.html" class="notice-board-link">View Notice Board</a>
            </div>
        </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const main = document.querySelector('main');
            const backgroundImageUrl = "{% static 'images/HomePageBackgroundImage.jpg' %}";
            main.style.backgroundImage = `url(${backgroundImageUrl})`;
        });
    </script>
</body>
