{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/noticeboard.css' %}">

<div class="container mt-4">
    <h2 class="text-center">Mess Schedule</h2>
    
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Days</th>
                <th>Breakfast</th>
                <th>Lunch</th>
                <th>Dinner</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Monday</td>
                <td>Paratha (2 pcs) + Aloo Dum</td>
                <td>Rice + Roti + Dalma + Aloo Bharta + Badi Chura + Khata</td>
                <td>Rice + Soyabean Aloo Curry + Simei</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>Bread (Aloo stuffed) + Jalebi (1 pc)</td>
                <td>Rice + Roti + Sambar/Dal + Rajma + Bhaja + Dahi Boondi</td>
                <td>(Roti + Chana Masala) / (Paratha + Aloo Dum)</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>Idli (6 pcs) + Sambar + Chutney</td>
                <td>Rice + Dal + Roti + Chicken Curry (4 pcs) / Paneer Curry + Dahi Salad</td>
                <td>Roti + Matar Paneer</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>Puri (6 pcs) + Aloo Sabji</td>
                <td>Rice + Roti + Cabbage Curry + Dahi Baigan + Dal Fry + Papad</td>
                <td>Chhole Bhature (3 pcs) + Raita</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>Pav Bhaji</td>
                <td>Rice + Dal + Matar Paneer / Fish Curry (1 pc) + Salad + Papad</td>
                <td>Roti + Veg/Egg Tadka + Suji</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>Kaakra + Aloo Chop (3 pcs) + Matar Curry</td>
                <td>Rice + Dal + Roti + Mix Veg / Egg Curry (2 pcs) + Chips</td>
                <td>(Roti + Chana Masala) / (Roti + Chilli Kobi)</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>Vada (6 pcs) + Matar Curry</td>
                <td>Veg Biriyani / Chicken Biriyani (3 pcs) + Raita + Gulab Jamun</td>
                <td>Roti + Chicken Kasa (4 pcs) / Chilli Paneer</td>
            </tr>
        </tbody>
    </table>
<br>
    <!-- Additional Information Section -->
    <h4 class="text-center">Additional Information</h4><br>

<div style="display: flex; justify-content: center; align-items: center; height: 15vh;">
    <ul style="list-style-type: none; text-align: left; padding: 0; margin: 0;">
       <li style="margin-bottom: 10px;">➤ <strong>Timings:</strong> Breakfast: 7:30 AM - 9:30 AM, Lunch: 12:30 PM - 2:30 PM, Dinner: 7:00 PM - 9:00 PM</li>
       <li style="margin-bottom: 10px;">➤ <strong>Prices:</strong>Breakfast: 23 Rs, Lunch: 40 Rs, Dinner: 40 Rs</li>
       <li style="margin-bottom: 10px;">➤ <strong>Minimum Requirement:</strong> Students should take at least 4 days' worth of coupons</li>
       <li>➤ <strong>Without Coupon:</strong>Students without a coupon can pay an extra 5 Rs in addition to the meal price to have it</li>
   </ul>
</div>

{% endblock %}
