{% extends 'faculty_base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/noticeboard.css' %}">

<div class="container mt-4">
    <h2 class="text-center">Notice Detail</h2>
    
    <header>
        <h1 class="text-center">{{ notice.subject }}</h1>
    </header>
    <br>
    
    <div class="notice-details d-flex justify-content-center">
        <div class="content-container">
            <div class="detail-row">
                <div class="label text-center">Posted by: {{ notice.posted_by.username }}</div>
                <div class="value text-center"></div>
            </div>
            <div class="detail-row">
                <div class="label text-center">Message: {{ notice.message }}</div>
                <div class="value text-center"></div>
            </div>
            <div class="detail-row">
                <div class="label text-center">Date: {{ notice.date_posted }}</div>
                <div class="value text-center"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
