


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Password reset sent</h3>

                <p>We have emailed you instructions for seetings your password if an account exists with the entered you should receive them shortly.</p>
                <br>
                <p>If you Don’t receive email,Please make sure you've entered the address you registered with, and check your spam folder.</p>
                            
        </div>
    </div>
</main>
