
{% extends 'base.html' %}
{% block content %}







<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Password reset sent</h3>

<p>we have emailed you instructions for seetings your password if an account exists with the entered you should receive them shortly</p>
<br>
<p>if you Don’t deceive email please sure you've entered the address you registered with, and check your spam folder</p>
            
        </div>
    </div>
</main>

{% endblock content %}