* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 4rem; /* Adjust margin-top to ensure space below the navbar */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar .search-bar-group {
    width: 40%;
    margin: 0 auto;
    display: flex;
}

.search-bar .form-control {
    flex: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
}

.search-bar .input-group-append .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    color: white;
}

.search-bar .input-group-append .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.button-group {
    display: flex;
    align-items: center;
    margin-left: auto; /* Align to the right */
}

.button-group .btn-primary,
.btn-edit-delete {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    margin-left: 10px; /* Adjust space between buttons */
    text-decoration: none;
    white-space: nowrap; /* Prevent text wrapping */
}
.btn-addnotice {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    white-space: nowrap; /* Prevent text wrapping */
}

.button-group .btn-primary:hover,
.btn-edit-delete:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.btnaddnotice:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; /* Enable horizontal scrolling */
}

.table th,
.table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

.text-center {
    text-align: center;
}

.text-center .btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
}

.text-center .btn:hover {
    background-color: #0056b3;
}

.mb-4 {
    margin-bottom: 4rem !important;
}

.mt-4 {
    margin-top: 4rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

/* Styles for Add Notice form */
form {
    margin-top: 20px;
}

form .form-group {
    text-align: center;
}

form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 8px 16px; /* Smaller padding for smaller screens */
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

form input,
form textarea,
form select {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

/* Additional styles for flash messages */
.alert {
    margin-top: 20px; /* Adjust this value as needed */
    text-align: center;
}
.table-responsive {
    max-height: 300px;
    overflow-y: auto;

}



/* Responsive styles */
@media (max-width: 992px) {
    .search-bar .search-bar-group {
        width: 60%; /* Adjust width for smaller screens */
        margin: 5px;
    }

    .button-group {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
    }

    .button-group .btn-primary,
    .btn-edit-delete {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
    .btnaddnotice {
        margin-left: 0;
        margin-top: 10px;
        width: 30%;
        text-align: center;
    }

    .table {
        max-width: 100%;
    }
    .table-responsive {
        max-height: 330px;
        overflow-y: auto;
    
    }
}

@media (max-width: 768px) {
.search-bar .search-bar-group {
        width: 100%; /* Adjust width for smallest screens */
    }

    .button-group .btn-primary {
        padding: 8px 12px; /* Smaller padding for smallest screens */
        margin-top: 10px; /* Margin above Add Notice button */
        display: block; /* Ensure Add Notice button is below the heading */
    }

    .btn-edit-delete {
        padding: 5px 10px; /* Smaller padding for smallest screens */
        font-size: 12px; /* Smaller font size for smallest screens */
        width: 100%; /* Full width for better visibility */
        margin: 5px 0; /* Adjust margin to avoid overlap */
    }
    .btnaddnotice {
        padding: 5px 10px; /* Smaller padding for smallest screens */
        font-size: 12px; /* Smaller font size for smallest screens */
        width: 20%; /* Full width for better visibility */
        margin: 5px 0; /* Adjust margin to avoid overlap */
    }

    .actions-cell {
        display: flex;
        flex-direction: column;
    }

    .table th,
    .table td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .table td.actions-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .search-bar .search-bar-group {
        width: 100%; /* Adjust width for smallest screens */
    }

    .button-group .btn-primary {
        padding: 8px 12px; /* Smaller padding for smallest screens */
        margin-top: 10px; /* Margin above Add Notice button */
        display: block; /* Ensure Add Notice button is below the heading */
    }

    .btn-edit-delete {
        padding: 5px 10px; /* Smaller padding for smallest screens */
        font-size: 12px; /* Smaller font size for smallest screens */
        width: 100%; /* Full width for better visibility */
        margin: 5px 0; /* Adjust margin to avoid overlap */
    }
    .btnaddnotice {
        padding: 5px 10px; /* Smaller padding for smallest screens */
        font-size: 12px; /* Smaller font size for smallest screens */
        width: 30%; /* Full width for better visibility */
        margin: 5px 0; /* Adjust margin to avoid overlap */
    }

    .actions-cell {
        display: flex;
        flex-direction: column;
    }

    .table th,
    .table td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .table td.actions-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 410px) {
    .search-bar .search-bar-group {
        width: 100%; /* Adjust width for smallest screens */
    }

    .button-group .btn-primary {
        padding: 8px 12px; /* Smaller padding for smallest screens */
        margin-top: 10px; /* Margin above Add Notice button */
        display: block; /* Ensure Add Notice button is below the heading */
    }

    .btn-edit-delete {
        padding: 5px 10px; /* Smaller padding for smallest screens */
        font-size: 12px; /* Smaller font size for smallest screens */
        width: 100%; /* Full width for better visibility */
        margin: 5px 0; /* Adjust margin to avoid overlap */
    }

    .actions-cell {
        display: flex;
        flex-direction: column;
    }

    .table th,
    .table td {
        padding: 0px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .table td.actions-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.additional-info {
    max-height: 200px; /* Set a maximum height for small screens */
    overflow-y: auto; /* Enable vertical scrolling */
}
.table-responsive {
    max-height: 300px;
    overflow-y: auto;

}

@media (min-width: 768px) {
    .additional-info {
        max-height: none; /* Remove height restriction for larger screens */
        overflow-y: visible; /* Disable vertical scrolling for larger screens */
    }
}

.additional-info {
    max-height: 200px;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .additional-info {
        max-height: none;
        overflow-y: visible;
    }
}
