/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

/* Main Container */
.container {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Form Container */
.form-container {
    flex: 0 0 30%;
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container .logo img {
    width: 150px;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.text-danger {
    color: red;
    font-size: 0.9em;
}

.extra-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.extra-links a {
    color: #007bff;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #007bff;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.extra-links a:last-child {
    margin-right: 0;
}

.extra-links a:hover {
    background-color: #007bff;
    color: #ffffff;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Image Container */
.image-container {
    flex: 0 0 70%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

