{% extends "faculty_base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cloak_room_styles.css' %}">
<div class="container mt-4">
  <h2>All Cloak Room Entries</h2>



  <!-- <a href="{% url 'manage_cloak_room_settings' %}">Manage Cloak Room Settings</a>
  <form method="get">
    <input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}">
    <button type="submit">Search</button>
  </form> -->

  <div class="row mb-3 justify-content-center">
    <div class="col-md-12">
        <form method="GET" class="form-inline search-bar d-flex justify-content-center align-items-center">
            <div class="input-group">
                <input type="text" class="form-control form-control-lg" name="q" placeholder="Search by ID or Items" value="{{ request.GET.q }}">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-lg">Search</button>
                </div>
                {% if user.is_authenticated %}
                <div class="button-group ml-3 d-flex align-items-center">
                    <a href="{% url 'manage_cloak_room_settings' %}" class="btn btn-primary btn-lg">Manage Cloak Room Settings</a>
                    <!-- <a href="{% url 'faculty_dashboard' %}" class="btn btn-primary btn-lg ml-2">Back</a> -->
                </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>

 <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>SI No</th>
        <th>Student ID</th>
        <th>Items</th>
        <th>Date & Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ entry.student.username|capfirst }}</td>
          <td>{{ entry.items }}</td>
          <td>{{ entry.date_time_stored }}</td>
          <td>
            <form method="post" action="{% url 'delete_cloak_room_entry' entry.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-edit-delete btn-lg">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
